@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* Shared Styles */
.display-flex{
    display: flex;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.tittle{
    color: #131313;
    font-size: 2.8rem;
    font-weight: bold;
}
.sub-tittle{
    color: #131313;
    font-size: 1.2rem;
    font-weight: 500;
}
.description{
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
}
.btn-primary{
    color: #fff;
    background-color: rgba(255, 144, 14, 1);
    font-size: 1.2rem;
    font-weight: 500;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
}
.banner-tittle{
    color: #131313;
    font-size: 4rem;
    font-weight: bold;
}
main{

}
main > section{
    max-width: 1440px;
    margin: 130px auto;
}
/* 0..Start Main Style */
header{
    background-color: rgba(255, 144, 14, 0.1);
}
.navbar{
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    margin-right: 25px;
}
.navbar ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 1.1rem;
    font-weight: 500;
}
.navbar ul{
    text-align: center;
}

/* 1..Banner Part */

.banner-part{
    max-width: 1440px;
    margin: 0px auto;
}
.banner-part img{
    width: 100%;
}
.banner-part .banner-item{
    width: 870px;
    margin: 50px auto;
}
.banner-item .description{
    margin: 20px 0px;
}

/* 2..Style For Features section */

.features-section{
    display: flex;
    align-items: center;
}
.features-img img{
    width: 100%;
}
.features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.features-content{
    width: 537px;
    margin-left: 70px;
}
.features-content .description{
    margin: 24px 0px;
}
.quick-list{
    color: #727272;
    font-weight: 500;
}
.features-style{
    color: #FF900E;
}

/* 3..Features About Section Part */

.Features-About-section{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 54px;
}
.Features-About-content{
    padding: 60px 0px;
    margin-right: 80px;
}
.Features-About-tittle{
    border-left: 4px solid #FF900E;
    padding-left: 15px;
}
.Features-About-description{
    margin: 20px 0px;
}
.Features-About-Item{
    box-shadow: 0px 5px 5px 0px #ddd;
    padding: 30px;
    margin-bottom: 30px;
}
.experience{
    font-size: 3rem;
    font-weight: bold;
}
.experience-a{
    font-size: 1.5rem;
    font-weight: 500;
}
.Features-About-section .Features-img-box .btn-primary{
    margin-left: -80px;
    margin-top: -80px;
}
.Features-img-box img{
    width: 100%;
    border-radius: 8px;
}

@media screen and (max-width: 576px){
    .navbar,
    .navbar ul{
        flex-direction: column;
    }
    .brand-name{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .navbar ul li a{
        font-size: 0.8rem;
    }
    .banner-part .banner-item{
        width: 100%;
    }
    .banner-tittle{
        font-size: 2rem;
    }
    .banner-item .description{
        font-size: 1rem;
        padding: 0px 20px;
    }
    /* 2.. features section */
    .features-section{
        flex-direction: column;
        gap: 30px;
    }
    .features-img{
        grid-template-columns: repeat(1, 1fr);
    }
    .features-img img{
        width: 100%;
    }
    .features-content{
        width: 100%;
        margin-right: 0px;
        margin: auto;
        padding: 0px 20px;
    }
    .features-content .tittle{
        font-size: 2.2rem;
    }
    .features-content .description{
        /* padding-right: 20px; */
        font-size: 1rem;
    }

    /* 3..Features About Section Responsive Part  */
    
    main > section{
        margin: 70px 0px;
    }

    .Features-About-section{
      grid-template-columns: repeat(1, 1fr);
    }
    .Features-About-content{
        margin-right: auto;
        padding: 60px 40px;
    }
    .Features-About-content .tittle{
        font-size: 2.2rem;
    }
    .Features-About-content .description{
        font-size: 1rem;
    }
    .Features-About-section .Features-img-box .btn-primary{
        margin-left: 80px;
        margin-top: 60px; 
    }
}